* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  /* Style the body */ 
body {
    height: 100vh;
    background: url(img/pic2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  /* Style the top navigation bar */
li, a , button {
    font-weight: bold;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px 10%;
    height: 12%;
    background-color: #24252a;
}

/* While hover over logo a hand replaces mouse pointer */
.logo {
    height: 80px;
    cursor: pointer;
    margin-right: auto;
}
  
.nav_links {
    list-style: none;
}

/* Target each individual element in the nav */
.nav_links li {
    display: inline-block;  /*Makes the links be in a row instead of a column */
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #0088a9
}

button {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgba(121, 255, 4, 0.781);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0,136,169,0.8);
}

label {
    font-size: 12px;
}

.psw {
    font-size: 12px;
}

span a {
    font-size: 12px;
}

/* ------------------------------------Here starts the head -----------------------------------------------*/

main {
    height: 76%;
}

/*-------------------------------------Here start the login form-------------------------------------------*/
/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: #474747;
    color: #edf0f1;
  }
  
input[type=checkbox] {
    margin-left: 10px;
}

  /* Extra styles for the cancel button */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  
  /* Center the image and position the close button */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
  }
  
  img.avatar {
    height: 70px;
  }
  
  .container {
    padding: 16px;
    color: #edf0f1;
  }
  
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;   
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #24252a;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button (x) */
  .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #edf0f1;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }
  
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
  }
  /*----------------------------------------Here ends the login form-------------------------------------/*

  /* Footer */
  .footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 10%;
    height: 12%;
    position: fixed;
    height: 5%;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #24252a;
    color: #edf0f1;
    text-align: center;  
 }
  
  /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 700px) {
    .row, .navbar {   
      flex-direction: column;
    }
    .logo {
        display: none;
    }
  }