* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Style the body */
body {
  height: 100vh;
  background-color: #24252a;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Style the top navigation bar */
header {
  background-color: #24252a;

}

li {
  list-style: none;
}

a {
  font-weight: bold;
  font-size: 16px;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  text-decoration: none;
}

.logo {
  height: 80px;
  cursor: pointer;
  margin-right: auto;
}

.nav-menu button {
  font-weight: bold;
  font-size: 16px;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  text-decoration: none;
}

.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 100px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.nav-branding {
  font-size: 2rem;
}

.nav-link {
  transition: 0.7s ease;
}

.nav-link:hover {
  color: rgba(121, 255, 4, 0.781);
}

.nav-menu .nav-item .ctalog button {
  /* margin-left: 20px; */
  padding: 9px 25px;
  background-color: rgba(121, 255, 4, 0.781);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.nav-menu .nav-item .ctasign button {
  /* margin-left: 20px; */
  padding: 9px 25px;
  background-color: rgb(255, 115, 0);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.ctalog button:hover {
  background-color: rgba(0, 103, 3, 0.8);
}

.ctasign button:hover {
  background-color: rgb(164, 74, 0);
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

@media(max-width:768px) {
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #24252a;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    left: 0;
  }

  .navbar {
    padding: 10px 50px;
  }
}

/* ------------------------------------Here starts the head -----------------------------------------------*/

.main {
  min-height: 83%;
  display: flex;
  background-color: #24252a;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.imgbox {
  display: flex;
  height: 400px;
  width: 600px;
  border: 1px solid lightgrey;
}

#pic3 {
  display: block;
  height: 100%;
  width: 100%;
  box-shadow: 0px 15px 30px rgb(0, 0, 0);
}

.textbox {
  height: 400px;
  width: 600px;
  box-sizing: border-box;
  color: #fff;
  font-size: 12px;
  font: 1em;
  padding: 20px 20px;
}

p {
  text-indent: 50px;
  text-align: justify;
  letter-spacing: 3px;
}

@media(max-width:1000px) {
  .main {
    flex-direction: column;
  }

  .imgbox {
    display: flex;
    height: 202px;
    width: 300px;
    border: 1px solid lightgrey;
  }

  #pic3 {
    display: block;
    height: 202px;
    width: 300px;
    box-shadow: 0px 15px 30px rgb(0, 0, 0);
  }

  .textbox {
    height: 400px;
    width: 300px;
    box-sizing: border-box;
    color: #fff;
    font-size: 12px;
    font: 1em;
    padding: 10px 10px 100px 10px;
  }

}

/*---------------------------------------- Footer----------------------------------------------------------- */
.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px 10%;
  position: fixed;
  height: 5%;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #24252a;
  color: #edf0f1;
  text-align: center;
}

.navbar2 {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.nav-menu2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

@media(max-width:768px) {
  .nav-menu2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
  }

}